
html {
    font-size: 62.5%;
}

body {
    /* margin: 0;
    padding: 0; */
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;

}

nav .nav-right-section a:hover {
    text-decoration: underline;
}

nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 10px;
}

main {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .main-logo {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img {
    width: 100%;
}
main .main-input {
    width: 530px;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 80%;
    height: 40px;
    font-size: 20px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    background-image: url('https://www.clipartsfree.net/svg/51717-search-icon-light-grey-vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e8/Google_mic.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
main .main-buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0 14px;
    margin-right: 15px;
}

main .main-buttons button:hover {
    border: 1px solid #757575;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    background-color: #f8f8f8;
}

footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #5f6368;
}

footer ul li a:hover {
    text-decoration: underline;
}


@media (max-width: 500px){
    header{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    header nav .nav-right-section {
        justify-content: flex-end;
    }
    main .main-logo img {
        width: 90%;
    }
    main .main-input {
        width: 100%;
        margin-bottom: 35px;
    }
    main .main-input .search-icon {
        width: 52px;
        height: 52px;
    }
    footer {
        width: 100%;
        height: 160px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.7rem;
        background-color: #f2f2f2;
        border-top: 1px solid #e4e4e4;
    }

    footer .footer-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 50%;
    }
}

